<p id="notice"><%= notice %></p>

<p>
  <b>Is_public:</b>
  <%= @post.is_public %>
</p>

<p>
  <b>Posted time:</b>
  <%= @post.created_at %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>String count:</b>
  <%= @post.content.split.length %>
</p>

<p>
  <b>Char count:</b>
  <%= @post.content.length %>
</p>

<p>
<%= image_tag @post.avatar.url %>
<%= image_tag @post.avatar.url(:medium) %>
<%= image_tag @post.avatar.url(:thumb) %>
</p>
<p>
  <%#<b>Tags:</b>%>
  <%#<%= join_tags(@post) %>
</p>

<%#<h2>Comments</h2>%>
<%#<%= render :partial => "comments/comment",%>
           <%#:collection => @post.comments %>

<%#<h2>Add a comment:</h2>%>
<%#<%= render "comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>

